.CSlider {
  &__table {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    // justify-items: center;
    align-items: start;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__card {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    &:hover {
      color: #0090eb;
      img {
        opacity: 0.8;
      }
    }
    &_img {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      img {
        width: 90%;
        height: 90%;
      }
    }
    &_title {
      display: -webkit-box;
      width: 100%;
      height: 3rem;
      padding: 0 0.5rem;
      margin: 0 0 0.5rem 0;
      overflow: hidden;
      font-weight: 700;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &_price {
      padding: 0 0.5rem;
      color: red;
      font-size: 1.25rem;
      font-weight: 800;
      font-style: italic;
      white-space: nowrap;
    }
  }
  &__pagination {
    display: inline-flex;
    align-items: center;
    padding: 1rem 0rem;
    color: red;
    font-size: 1.25rem;
    &_arrow {
      cursor: pointer;
      margin: auto 0.25rem;
      color: #464646;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
