.CThemeBlock {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  margin: 1.5rem auto;
  width: 100%;
  height: 720px;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0 rgba(43, 43, 43, 0.1);
  &__tag {
    position: absolute;
    top: 1rem;
    left: 0;
    padding: 0.75rem 0.5rem;
    min-height: 2rem;
    background: #0090eb;
    color: #ffffff;
    font-style: italic;
    text-shadow: 0 2px 1px #2b2b2b;
    border-bottom: 4px solid #d5d5d5;
    box-shadow: 2px 4px 0 rgb(43 43 43 / 10%);
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -8px;
      width: 14px;
      height: 100%;
      background: #0090eb;
      border-radius: 0 2px 3px 0;
      // box-shadow: 2px 4px 0 rgb(43 43 43 / 10%);
      -webkit-transform: skew(-13deg);
      transform: skew(-13deg);
    }
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      right: -7px;
      height: 80%;
      border: 4px solid #d5d5d5;
      border-radius: 0 2px 3px 0;
      box-shadow: 2px 4px 0 rgb(43 43 43 / 10%);
      transform: skew(345deg);
    }
  }
  &__title {
    position: absolute;
    top: 6rem;
    left: 1.5rem;
    color: #ffffff;
    width: 35%;
  }
  &__info {
    display: inline-flex;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: stretch;
    background: #1600ff;
    &_title {
      white-space: nowrap;
    }
  }
  &__keywordList {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 50%;
    padding: 1rem;
    color: #ffffff;
    &_item {
      cursor: pointer;
      display: inline-block;
      margin: 0.25rem 0;
      padding: 0.5rem 1rem;
      background: rgba(0, 0, 0, 0.3);
      font-size: 0.85rem;
      white-space: nowrap;
      border-radius: 1.75rem;
      transition: opacity 0.25s ease-in-out;
      &:hover {
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }

  &__banner {
    position: relative;
    max-height: 720px;
    overflow: hidden;
    border-radius: 100px 0 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
  }
}
